*{
    color: aliceblue;
    text-align: center;
}
body{
    background-image: url("./Components/Image/Rectangle\ 1.png");
    background-size: cover;
    height: 935px;
    width: 100%;
    text-align: center;
}
.main{    
    background-color:rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 935px;
    width: 100%;
   
} 
